*{
    margin: 0;
}

html,
body,
header {
    height: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
}

section {
    /*background-color: #dedede;*/
}

.social_buttons a{
    color: inherit;

}

.social_buttons a:hover{
    color: inherit;
    text-decoration:none;
    cursor:pointer;

}

#intro {
    height: 100%;
}

#intro {
    background: url("../images/ussien_logo.jpg")no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    #intro {
        background: url("../images/ussien_logo_mobile.jpg")no-repeat center center;


    }
}

/* Extra extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    #intro {
        background: url("../images/ussien_logo_mobile.jpg")no-repeat center center fixed;
        background-size: 120%;
    }
}

/*!*!* Medium devices (landscape tablets, 768px and up) *!*!*/
/*@media only screen and (min-width: 768px) {*/
/*    #intro {*/
/*        background: url("../images/ussien_logo_medium.jpg")no-repeat center center;*/
/*    }*/
/*}*/

/*!* large devices (landscape tablets, 768px and up) *!*/
@media only screen and (min-width: 1200px) {
    #intro {
        background: url("../images/ussien_logo.jpg")no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

#beleefhuis {

}

#beleefhuis h1, h2, h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

#sfeerfoto {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

/*#workshops {*/
/*    background: black url("images/rsz_chalkboard.jpg") no-repeat fixed center center;*/
/*    color: white;*/
/*    padding: 50px;*/
/*}*/

#workshops h1, h2, h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

#subsidie {

}

#subsidie h1, h2, h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

#contact {

}

#contact h1, h2, h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

.divide_line {
    background-image: url("/images/rode_stof_cropped.jpg");
    background-size: contain;
    background-repeat: repeat;
    height: 50px;
    margin-bottom: 40px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#nieuws {

}

#nieuws h1, h2, h4{
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

.collapse {
    text-align: left;
}

.rondleiding > ul > li {
    text-align: left;
}

.footer-copyright .a{
    background-color: #ec1747;
    text-decoration: none;
    color: black;

}

.footer-copyright h1, h2 , h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

.page-footer, .py-4 {
    background-color: #EC1747;

}


/*////////////////////////*/
/*media queries*/
/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {*/
/*    #intro {*/
/*        max-height: 40%;*/
/*        margin-bottom: 2px;*/
/*    }*/

/*}*/

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/
/*    #intro {*/
/*        max-height: 60%;*/
/*    }*/
/*}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    #intro {*/
/*        max-height: 80%;*/
/*    }*/
/*}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/
/*    #intro {*/
/*        max-height: 100%;*/
/*    }*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    #intro {*/
/*        max-height: 100%;*/
/*    }*/
/*}*/


/*.section1 {*/
/*    background-color: #ffffff;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d63544' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
/*}*/


/*.footer-copyright {*/
/*    background-color: #ffffff;*/
/*    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23d63544' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");*/
/*}*/
