*{
    margin: 0;
}

html,
body,
header {
    height: 100%;
}

h1 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

.navbar {
    background-color: #ec1747;
    text-align: center;
}


#intro, h2 {
    color: whitesmoke    ;
    /*background-color: black ;*/
}

#intro {
    background: url("/images/background_ussien_janneke.jpg")no-repeat center center fixed;
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

.return_home {
    margin-left: 5px;
    color: white;
}

.divide_line {
    background-image: url("/images/rode_stof_cropped.jpg");
    background-size: contain;
    background-repeat: repeat;
    height: 50px;
    margin-bottom: 10px;
}

.janneke_foto, img {
    width: 100%;
    height: auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


.footer-copyright .a{
    background-color: #ec1747;
    text-decoration: none;
    color: black;

}

.footer-copyright h1, h2 , h4 {
    /*font-family: 'Calligraffitti', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Marck Script', cursive;
    /*font-family: 'Parisienne', cursive;*/
    /*font-family: 'Pinyon Script', cursive;*/
    /*font-family: 'Tangerine', cursive;*/
}

.page-footer, .py-4 {
    background-color: #EC1747;

}
